/*extend*/
.top-header span i, .contact-block .bottom-social-link .social-icon i {
  background: #77A637;
  padding: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #FFF;
  border-radius: 50%;
  margin: 0px 0px; }

body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #95989A; }

img, iframe {
  max-width: 100%; }

li {
  list-style-type: none; }

ul {
  padding: 0px; }

*:hover {
  transition: 0.9s all ease; }

a {
  color: inherit;
  cursor: pointer; }
  a:hover {
    text-decoration: none;
    transition: 0.5s all ease;
    color: inherit; }

h1, h2, h3, h4 {
  font-family: "Lora", serif, sans-serif; }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  color: red !important; }

p {
  line-height: 24px; }

.green-color {
  color: #77A637; }

.blue-color {
  color: #4980D6; }

.main-title-wrapper {
  margin-bottom: 2.2em;
  text-align: center; }

.main-title {
  color: #77A637;
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase; }

.sub-title {
  color: #77A637;
  font-size: 24px;
  font-style: italic; }

.custom-btn {
  color: #ffffff;
  background: #77A637;
  padding: 5px 15px;
  border-radius: 0px;
  border: 1px solid #77A637; }
  .custom-btn:hover {
    border: 1px solid #77A637;
    color: #77A637;
    background: #fff; }

.custom-btn-2 {
  color: #fff;
  background: #4980D6;
  padding: 7px 25px;
  border-radius: 0px;
  font-family: "Lora",serif;
  font-size: 14px; }
  .custom-btn-2:hover {
    background: #77A637; }

/*Navbar*/
.custom-navbar {
  position: relative; }
  .custom-navbar .navbar-nav {
    /* 	position: absolute;
    	right: 0px; */ }
    .custom-navbar .navbar-nav .nav-item .nav-link {
      font-size: 16px;
      font-family: "Lora", serif;
      text-transform: uppercase;
      margin-left: 10px;
      color: #595a5b; }

/*body css*/
.mb-90 {
  margin-bottom: 90px; }

.parallex {
  padding: 100px 0px;
  background: url(../images/parallex.png);
  background-size: cover;
  text-align: center;
  background-position: 50% 50%; }
  .parallex p {
    font-size: 26px;
    font-family: "Lora", serif;
    line-height: 62px;
    font-style: italic;
    color: #FFF; }

/*other services*/
.other-service .swiper-button-prev, .other-service .swiper-button-next {
  background-color: #cccccc94;
  padding: 24px;
  background-size: 16px 40px; }
.other-service .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z' fill='#ffffff'/></svg>");
  right: 0px; }
.other-service .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='#ffffff'/></svg>");
  left: 0px; }

/****************/
/*footer*/
footer {
  background: #222222;
  padding: 50px 0px; }
  footer .footer-title {
    font-size: 18px; }
  footer .footer-link li {
    margin-top: 1em; }
    footer .footer-link li:hover {
      color: #fff; }

.bottom-footer {
  background: #222222;
  padding: 5px 0px;
  border-top: 1px solid #626262; }
  .bottom-footer p {
    text-align: center;
    margin: 0px; }

.top-header {
  padding: 10px 0px;
  color: #4980D6;
  background: #F2F2F2; }
  .top-header .logo {
    position: absolute; }
  .top-header .top-link-wrapper {
    float: right; }
    .top-header .top-link-wrapper .top-link {
      display: inline-block; }
    .top-header .top-link-wrapper .top-social-link {
      display: inline-block; }
  .top-header span {
    color: #77A637;
    margin-right: 5px; }
    .top-header span i {
      background: #77A637; }
      .top-header span i:hover:nth-child(1) {
        background: #4980D6; }

/*contact Page*/
@media screen and (max-width: 1212px) {
  #accordion .review-btn {
    right: 36%;
    top: -35px; } }
@media screen and (max-width: 1000px) {
  #accordion .review-btn {
    position: initial; } }
/* stwps */
.steps {
  /* background: #FAFAFA; */
  padding-bottom: 90px; }

.step-card {
  text-align: center;
  padding: 60px 30px 10px 30px;
  margin-bottom: 4em;
  position: relative;
  margin-top: 2em;
  background: #FFF;
  box-shadow: 0 657px 508px 478px transparent, 0 8px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
  .step-card .image-wrapper {
    margin-bottom: 1em; }
    .step-card .image-wrapper i {
      font-size: 52px;
      color: #4980D6; }

.step-card:before {
  content: ' ';
  position: absolute;
  height: 45px;
  width: 45px;
  background: #fff !important;
  z-index: 1;
  transform: rotate(45deg);
  left: 42%;
  top: -20px;
  box-shadow: 0 657px 508px 478px transparent, 0 8px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.heading {
  font-size: 20px;
  color: #77A637; }

h3.make-step {
  position: absolute;
  top: -15px;
  left: 49%;
  z-index: 2;
  color: #77A637; }

.video-wrapper {
  box-shadow: 0 657px 508px 478px transparent, 0 8px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  padding: 1em;
  height: 100%; }

@media screen and (max-width: 576px) {
  .caption {
    display: none; }

  h3.make-step {
    left: 49%; } }
/* new for image hover mathi ko lai */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.header {
  text-align: center;
  padding: 0px 15px;
  margin-bottom: 30px; }

.header h1 {
  font-size: 2.8rem; }

.header p {
  font-size: 1.3rem;
  line-height: 150%; }

/*fancy card styling*/
.fancy-card {
  background: #eee;
  width: 100%;
  display: block;
  float: left;
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: all 250ms ease-in;
  min-height: 300px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px; }

.fancy-card .bg-overlay {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: all 200ms linear; }

.fancy-card .content {
  padding: 30px 40px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row; }

.fancy-card .content .primary {
  text-transform: uppercase;
  width: 100%;
  transition: all 250ms ease-out 200ms;
  opacity: 1;
  transform: translate3d(0px, 0px, 1px); }

.fancy-card .content .secondary {
  position: absolute;
  opacity: 0;
  transform: translate3d(0px, 30px, 1px);
  transition: all 200ms linear 0ms;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  width: 80%;
  left: 10%; }

.fancy-card .button {
  border: solid 1px #fff;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 2px;
  margin: 12px auto; }

/*horizontal border elements (top & bottom)*/
/* .fancy-card .v-border{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
} */
.fancy-card .v-border:before,
.fancy-card .v-border:after {
  width: 0%;
  height: 1px;
  left: 50%;
  transition: all 250ms ease-out;
  background: #fff; }

.fancy-card .v-border:before {
  content: '';
  top: 10%;
  position: absolute; }

.fancy-card .v-border:after {
  content: '';
  bottom: 10%;
  position: absolute; }

/*horizontal elements (left & right)*/
.fancy-card .h-border {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%; }

.fancy-card .h-border:before,
.fancy-card .h-border:after {
  height: 0%;
  top: 50%;
  width: 1px;
  transition: all 250ms ease-out;
  background: #fff; }

.fancy-card .h-border:before {
  content: '';
  left: 10%;
  height: 0%;
  position: absolute; }

.fancy-card .h-border:after {
  content: '';
  right: 10%;
  position: absolute; }

/*hover states for interactivity*/
.fancy-card:active .v-border:before,
.fancy-card:active .v-border:after,
.fancy-card:hover .v-border:before,
.fancy-card:hover .v-border:after {
  width: 90%;
  left: 5%; }

.fancy-card:active .h-border:before,
.fancy-card:active .h-border:after,
.fancy-card:hover .h-border:before,
.fancy-card:hover .h-border:after {
  height: 90%;
  top: 5%; }

/*hovering over card, adjust primary element*/
.fancy-card:active .content .primary,
.fancy-card:hover .content .primary {
  opacity: 0;
  transform: translate3d(0px, 20px, 1px);
  transition: all 200ms linear 0ms; }

/*hoverijng over card, adjust secondary element*/
.fancy-card:active .content .secondary,
.fancy-card:hover .content .secondary {
  opacity: 1;
  transform: translate3d(0px, 0px, 1px);
  transition: all 200ms linear 200ms; }

/*hovering over card, adjust background overlay*/
.fancy-card:active .bg-overlay,
.fancy-card:hover .bg-overlay {
  background: rgba(0, 0, 0, 0.45); }

/*medium and large profiles*/
@media screen and (min-width: 768px) {
  .fancy-card {
    /*  width: 30%;
     margin: 0% 1.66% 3.33% 1.66%; */ } }
.f-22 {
  font-size: 22px; }

/***************** designer collection css */
.box {
  /*  position:relative; */
  vertical-align: middle;
  color: #fff;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  -webkit-transition: 0.5s; }

.box:hover {
  border: 2px solid rgba(0, 160, 80, 0);
  color: #FFF; }

.box::before, .box::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s; }

.bar::before {
  border-bottom: 3px solid #FFF;
  border-left: 3px solid #FFF;
  -webkit-transform-origin: 100% 0%; }

.bar::after {
  border-top: 3px solid #FFF;
  border-right: 3px solid #FFF;
  -webkit-transform-origin: 0% 100%; }

.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1); }

.designer-colllection {
  margin-bottom: 1em;
  position: relative;
  height: 100%; }

/* custom  designer collection*/
.product-overlay-wrapper {
  position: absolute;
  bottom: 15px;
  background: rgba(0, 0, 0, 0.2196078431);
  height: 95%;
  width: 100%;
  display: none; }

.product-overlay {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.box h3 {
  color: #fff;
  text-transform: uppercase; }

.box:hover > .product-overlay-wrapper {
  display: table; }

.custom-btn-view {
  border: solid 1px #fff;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 2px;
  margin: 12px auto; }

/************Single Page*************** */
.product-title {
  font-size: 20px;
  color: #000; }

.products-detail .text {
  display: block;
  font-size: 16px;
  margin-bottom: 5px; }
  .products-detail .text b {
    font-weight: 400;
    color: #C52026; }

.btn-collection {
  color: #C52026; }
  .btn-collection .btn-single {
    margin-right: 15px; }
    .btn-collection .btn-single i {
      margin-right: 5px; }

.accordion-wrapper {
  margin-top: 1em; }

.accordion-wrapper .accordion-single {
  border-top: 1px solid #95989A;
  border-bottom: 1px solid #95989A; }
.accordion-wrapper .btn-link {
  color: inherit;
  width: 100%;
  text-align: left; }
  .accordion-wrapper .btn-link:hover {
    text-decoration: none; }
  .accordion-wrapper .btn-link:focus {
    text-decoration: none; }

.mb-0 > button:before {
  float: right !important;
  content: "-";
  padding-right: 5px;
  color: #000;
  font-size: 18px; }

.mb-0 > button.collapsed:before {
  float: right !important;
  content: "+";
  color: #000;
  font-size: 18px; }

.breadcrumb {
  background: transparent; }

.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important; }

.xzoom-thumbs {
  text-align: left;
  margin-top: 1em; }

/* registration for user */
.contact-form .form-control {
  background: transparent;
  border: 0px solid red;
  border-radius: 0px;
  border-bottom: 1px solid #d3d3d3; }

.contact-block {
  border: 1px solid #d3d3d3;
  padding: 0px 10px;
  display: flex;
  margin-top: 1em;
  padding-top: 10px; }
  .contact-block .icon {
    flex: 1;
    margin-top: 15px;
    display: table;
    padding: 10px 15px;
    border-right: 1px solid #d3d3d3; }
    .contact-block .icon i {
      font-size: 32px;
      color: #77A637; }
  .contact-block .detail {
    flex: 4;
    padding: 10px 30px; }
  .contact-block .sub-title {
    margin: 0px;
    font-size: 18px;
    font-style: normal; }
  .contact-block .bottom-social-link {
    padding: 17px 10px; }
    .contact-block .bottom-social-link .social-icon i {
      margin-right: 10px; }

.block {
  margin: 3em 0em; }

.contact-form {
  padding: 3em;
  box-shadow: 0 657px 508px 478px transparent, 0 8px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.contact-form .custom-card {
  background: #77a637;
  padding: 10px 7px;
  text-align: center;
  margin-bottom: 5em;
  position: relative;
  margin: 0px 13em;
  margin-top: -3em;
  margin-bottom: 3em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .contact-form .custom-card h3 {
    color: #fff;
    margin: 0px; }

/*# sourceMappingURL=style.css.map */
